<div class="modal-dialog">
    <div class="modal-content">
        <form role="form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title">Quên mật khẩu?</h4>
            </div>
            <div class="modal-body">
                <div class="form-group required">
                    <label><span class="glyphicon glyphicon-envelope"></span> Email đã đăng ký tài khoản</label>
                    <input type="text" id="email" name="email" class="form-control" placeholder="Enter email">
                </div>
            </div>
            <div class="modal-footer">
                <button id="submitForgotPassword" type="button" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>