{{set . "title" "About"}}
{{template "header.html" .}}
</div>
<div class="main">
    <div class="content">
        <div class="section group">
            <div class="col_1_of_3 span_1_of_3">
                <h3>Chúng tôi là ai</h3>
                <img src="/public/img/about_img.jpg" alt="">
                <p class="text-justify">Với xu hướng phát triển ngoại nhập, công nghệ thông tin là bước tiến quan trọng không thể thiếu trong các lĩnh vực nghiên cứu ứng dụng xã hội và kinh tế. Husol được hình thành với mục tiêu đẩy mạnh ứng dụng công nghệ thông tin vào Bán hàng, Giáo dục và Dịch vụ phần mềm ứng dụng (Web App và Mobile App) trong các lĩnh vực theo yêu cầu khách hàng.</p>
                <p class="text-justify"><span class="text-red">Husol Store</span> là một trong 3 dự án chính của Husol, là dịch vụ Bán hàng với tiêu chí “Ngon - Bổ - Rẻ”.</p>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <h3>Lịch sử của chúng tôi</h3>
                <div class="history-desc">
                    <div class="year"><p>Năm 2020</p></div>
                    <p class="history">Husol tiến hành phát triển dịch vụ <span class="text-red">Husol Services</span>, cung cấp các Web App và Mobile App nhằm ứng dụng công nghệ thông tin vào xã hội.</p>
                    <div class="clear"></div>
                </div>
                <div class="history-desc">
                    <div class="year"><p>Năm 2018</p></div>
                    <p class="history">Husol tiến hành phát triển dịch vụ <span class="text-red">Husol Education</span>, đào tạo bồi dưỡng kiến thức Tin học, Anh văn và cung cấp gia sư dạy kèm tại nhà.</p>
                    <div class="clear"></div>
                </div>
                <div class="history-desc">
                    <div class="year"><p>Năm 2017</p></div>
                    <p class="history">Husol tiến hành phát triển dịch vụ <span class="text-red">Husol Store</span>, cung cấp các mặt hàng ngoại nhập của Úc dành cho người già và trẻ nhỏ; rau sạch, đặc sản Tây Ninh; đặc sản các vùng; thời trang và các loại mặt hàng phụ khác.</p>
                    <div class="clear"></div>
                </div>
                <div class="history-desc">
                    <div class="year"><p>Năm 2015</p></div>
                    <p class="history">Tiến hành tách Công ty Cổ phần Dịch vụ Thương mại ADIAS thành Cửa hàng vi tính Thành Phát và Trung tâm Husol.</p>
                    <div class="clear"></div>
                </div>
                <div class="history-desc">
                    <div class="year"><p>Năm 2013</p></div>
                    <p class="history">Khởi đầu thành lập Công ty Cổ phần Dịch vụ Thương Mại ADIAS, chuyên cung cấp linh kiện, dịch vụ website cho doanh nghiệp.</p>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="col_1_of_3 span_1_of_3">
                <h3>Sản phẩm của chúng tôi</h3>
                <p>Husol không ngừng đẩy mạnh phát triển các sản phẩm của mình:</p>
                <div class="list">
                    <ul>
                        <li><a href="https://store.husol.org" target="_blank">Husol Store</a></li>
                        <li><a href="https://edu.husol.org" target="_blank">Husol Education</a></li>
                        <li><a href="https://its.husol.org" target="_blank">Husol Services</a></li>
                        <li><a href="https://clinic.husol.org" target="_blank">Husol Clinic</a></li>
                        <li><a href="https://farmily.husol.org" target="_blank">Husol Farmily</a></li>
                    </ul>
                </div>
            </div>
        </div>

{{template "footer.html" .}}