  {{if eq .RunMode "dev"}}
    {{template "debug.html" .}}
  {{end}}
    </div>
  </div>
  <div class="footer">
      <div class="copy_right">
          <p>Mỹ Phẩm Tây Ninh © {{formatCurrTime "year"}} All rights Reseverd | <a target="_blank" href="https://husol.org">Husol Organization</a> </p>
      </div>
  </div>
  <script type="text/javascript">
      $(document).ready(function() {
          $().UItoTop({ easingType: 'easeOutQuart' });
      });
  </script>
  <a href="#" id="toTop"><span id="toTopHover"></span></a>
  {{range .moreScripts}}
  <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
  {{end}}

  <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
          var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
          s1.async=true;
          s1.src='https://embed.tawk.to/5a0e6094198bd56b8c03ba79/default';
          s1.charset='UTF-8';
          s1.setAttribute('crossorigin','*');
          s0.parentNode.insertBefore(s1,s0);
      })();
  </script>

  </body>
</html>
