<table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
        <th>Mã giao dịch</th>
        <th>Khách hàng</th>
        <th>Điện thoại</th>
        <th>Email</th>
        <th class="text-right">Tổng tiền</th>
        <th class="text-center">Tình trạng</th>
    </tr>
    </thead>
    <tbody>
    {{range $index, $transaction := .}}
        <tr data-rel="{{$transaction.Id}}">
            <td>{{$transaction.Id}}</td>
            <td>{{$transaction.ContactName}}</td>
            <td>{{$transaction.ContactMobile}}</td>
            <td>{{$transaction.ContactEmail}}</td>
            <td class="text-right">{{formatFValue $transaction.Amount 0}} VND</td>
            <td class="text-center">
                <select class="actionTransaction">
                    <option value="0"{{if eq $transaction.Status 0}} selected="selected"{{end}}>Đợi xử lý</option>
                    <option value="1"{{if eq $transaction.Status 1}} selected="selected"{{end}}>Đang giao hàng</option>
                    <option value="2"{{if eq $transaction.Status 2}} selected="selected"{{end}}>Giao dịch thành công</option>
                    <option value="-1">Hủy giao dịch</option>
                </select>
            </td>
        </tr>
    {{else}}
        <tr>
            <td colspan="6" class="text-center">Chưa có Giao dịch nào</td>
        </tr>
    {{end}}
    </tbody>
</table>