{{set . "title" "Husol Admin"}}
{{template "admin_header.html" .}}
{{template "layouts/admin_sidebar.html" .}}
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">Quản trị sản phẩm</h1>
                <div class="panel">
                    <div class="panel-heading text-right">
                        <button class="btn btn-add btn-success"><i class="glyphicon glyphicon-plus"></i> Thêm</button>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                <tr>
                                    <th>Mã sản phẩm</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Loại sản phẩm</th>
                                    <th class="text-right">Giá</th>
                                    <th class="text-right">Số lượng xem</th>
                                    <th class="text-center">Trạng thái</th>
                                    <th class="text-center" width="10%">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{range $index, $product := .products}}
                                <tr data-rel="{{$product.Id}}">
                                    <td>{{$product.ModelName}}</td>
                                    <td>{{$product.Name}}</td>
                                    <td>{{$product.CategoryName}}</td>
                                    <td class="text-right">{{formatFValue $product.Price 0}} VND</td>
                                    <td class="text-right">{{$product.CountView}}</td>
                                    <td class="text-center">Hiển thị</td>
                                    <td class="text-center">
                                        <span title="Edit" class="btn-edit glyphicon glyphicon-edit cursor-pointer text-blue"></span>
                                        &nbsp;&nbsp;
                                        <span title="Delete" class="btn-delete glyphicon glyphicon-trash cursor-pointer text-red"></span>
                                    </td>
                                </tr>
                                {{else}}
                                <tr>
                                    <td colspan="7" class="text-center">Chưa có Sản phẩm nào</td>
                                </tr>
                                {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
{{append . "moreScripts" "js/product.js"}}
{{template "admin_footer.html" .}}